h1,h2,h3,span
{
    color: rgb(105, 85, 138);
    font-family: Arial;

}

ol
{
    margin-left: 23%;
    
}
#ul1
{
    color: greenyellow;
    font-size: 15pt;
    font-family: Impact, 'Arial Narrow Bold';
    list-style-image: url(emoji.jpg);
}

#ul2
{
    color: purple;
    font-size: 15pt;
    list-style-type: square;
    font-family:Georgia;
}

#ul3
{     
    color: brown;
    font-size: 15pt;
    list-style-type: square;
    font-family:Georgia;
}

a:link 
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
}

a:hover
{
    color: rgb(135, 233, 135);
}

a:active
{
    color: black;
}


table 
{
    font-size: 20px;
    font-family: 'Times New Roman';
   /* border: 3px dashed rgb(39, 107, 0);  */
    margin:auto;  
    color: whitesmoke;
    width: 30%;
    height: 10%;
}
td
{
    border: 1px outset rgb(49, 228, 57);    
}
tr
{
    border: 0px outset rgb(49, 228, 57); 
}

.text1 :first-child
{
    color: rgb(71, 61, 82);

}

.pall1:first-letter 
{font-size: 25px;
 color: red;
 -webkit-text-stroke: 1px black; /*Не работает в Chrome, работает в Edge*/
}

.pall2:first-letter 
{font-size: 25px;
 color: red;
 -webkit-text-stroke: 1px black; /*Не работает в Chrome, работает в Edge*/
}

.pall3:first-letter 
{font-size: 25px;
 color: red;
 -webkit-text-stroke: 1px black; /*Не работает в Chrome, работает в Edge*/
}
/*
p .pall1::first-line
{
 text-decoration: underline;   
}

p .pall2::first-line
{
 text-decoration: underline;   
}

p .pall3::first-line
{
 text-decoration: underline;   
} */



#a1name::before
{
    content: "студент I курса ";

}

#a1name::after
{
    content: "проживающий по адресу ул.Притыцкого д.89 кв. 61 ";
    
}